
.board-container {
	margin: 0 auto;
	height:750px;
	width: 750px;
	border: 1px solid black;
	background-image: url("http://thumbs.dreamstime.com/t/vector-prison-building-illustration-49366084.jpg") 
	, url("http://thumbs.dreamstime.com/x/peaceful-neighborhood-21665777.jpg");
	background-repeat: no-repeat, no-repeat;
	background-size: 100% 33%, 100% 110% ;
	position: relative;
}

.modal{
	margin: 0 auto;
	height:600px;
	width:600px;
	border: 1px solid blue;
	text-align: center;
	background-image: url("https://www.colourbox.com/preview/2826035-captured-danger-prisoner-in-cartoon-style-for-justice-design.jpg");
  	background-repeat: no-repeat;
  	border-radius: 50%;
  	position: relative;
}

.instruction-modal p {
	text-align: center;
	background-color: #C0C0C0;
	font-size:22px;
	color:black;
	font-weight: bold;
	border-radius: 15px;
	position:absolute;
	bottom: 50px;
}

.input-player-1{
	top:350px;
	right: 375px;
	text-align: center;
	height:32px;
	font-size:22px;
	border-radius:10px;
	background-color: white;
	color: black;
	position: absolute;
	font-weight: bold;
}

.input-player-2{
	text-align: center;
	top:350px;
	left:375px;
	height:32px;
	font-size:22px;
	border-radius:10px;
	background-color: white;
	color: black;
	position:absolute;
	font-weight: bold;
}

.player-button{
	top:400px;
	left:150px;
	font-size:22px;
	border-radius: 10px;
	background-color: white;
	color:black;
	position: absolute;
	font-weight: bold;
	
}

.instruction-button{
	top:450px;
	left:200px;
	font-size:22px;
	border-radius: 10px;
	background-color: white;
	color:black;
	position: absolute;
	font-weight: bold;

}

.hide-instruction-button{
	font-size:22px;
	border-radius: 10px;
	background-color: white;
	color:black;
	font-weight: bold;
}

.game-time {
	position:absolute;
	left:325px;
	top:200px;
}
.player1 {
	position: absolute;
	left:50px;
	top: 140px;
	font-size:28px;
	color:black;
	font-weight: bold;
}

.player2 {
	position: absolute;
	right:50px;
	top: 140px;
	font-size:28px;
	color:black;
	font-weight: bold;
}

.home-cop {
	position:absolute;
	left:350px;
	top:205px;
}

.header{
	font-size: 28px;
	text-align: center;
}

.player-turn{
	font-size:28px;
	position: absolute;
	top:250px;
	left:300px;
}

.dice {
	width: 50px;
	height:50px;
	border: 1px solid black;
	border-radius: 5px;
	color: black;
	background-color: white;
	margin: 0 auto;
	position: absolute;
	left: 350px; 
	top: 350px;
	font-size: 28px;
	text-align: center;
}

.board-position {
	height:50px;
	width:50px;
	border-radius: 50%;
	background-color: black;
	text-align: center;
	font-size: 12px;
	position: absolute;
}

.home-blue {
	height:50px;
	width:50px;
	border-radius: 50%;
	border:1px solid black;
	top: 175px;
	left: 50px;
	position: absolute;
}
.home-green {
	height:50px;
	width:50px;
	border-radius: 50%;
	border:1px solid black;
	top: 175px;
	right: 50px;
	position: absolute;
}

.game-piece {
	width: 50px;
	height:50px;
	position:absolute;
	
}

img {
	height:50px;
	width:50px;
	border-radius: 50%;


}

#slot0{
	background-color: white;
}
#slot28{
	background-color: yellow;
}

/*button {
	font-size: 50px;
	width:300px;
	height:100px;
	float:left;
}*/

